<div th:fragment="backend_header_nav">

    <div class="layui-header">
        <div class="layui-logo" style="background:#354052; color:#e1e1e1;"><span>Stronghold China</span></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav" style="left:200px; background:#354052; display: none;">
            <li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="">
<!--            <li class="layui-nav-item">-->
<!--                <a href="#this">管理员</a>-->
<!--            </li>-->
            <li class="layui-nav-item"><a th:href="@{/manager/logout}">退出</a></li>
        </ul>
    </div>

</div>


<div th:fragment="backend_side_menu">
    <div class="layui-side" style="background:#354052;">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test" style="background:#354052;">
                <li class="layui-nav-item" th:class="${activeUri=='manager/home' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a href="#this" th:href="@{/manager/home}"><i class="layui-icon layui-icon-home"></i> <cite>Dashboard</cite></a></li>
                <li class="layui-nav-item" th:class="${activeUri=='manager/customer' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a href="#this" th:href="@{/manager/customer/list}"><i class="layui-icon layui-icon-user"></i> <cite>客户管理</cite></a></li>
                <li class="layui-nav-item" th:class="${activeUri=='manager/product' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a href="#this" th:href="@{/manager/product/list}"><i class="layui-icon layui-icon-gift"></i> <cite>商品管理</cite></a></li>
                <li class="layui-nav-item" th:class="${activeUri=='manager/order' ? 'layui-nav-item layui-this' : 'layui-nav-item'}"><a href="#this" th:href="@{/manager/order/list}"><i class="layui-icon layui-icon-rmb"></i> <cite>订单管理</cite></a></li>
            </ul>
        </div>
    </div>
</div>


<div th:fragment="backend_footer">
    <div class="layui-footer" style="text-align: center;">
        <!-- 底部固定区域 -->
        © 智烘（上海）商贸有限公司 <span style="text-decoration: underline;">沪ICP备 2020030679号-1</span>
    </div>
</div>