<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="common/common_head_meta_backend::head_meta_backend"></div>
<title>订单列表</title>
<body class="layui-layout-body">
<style>
    .bbColr { border-bottom: 3px solid #808080!important; text-align: center}
    #orderListTable tr:hover { background: #ffffff !important;}
    #orderListTable .detail-product-name { font-size:20px; line-height:35px;}
    #orderListTable .detail-weight { font-size: 16px; color: #ff515b;}
    #orderListTable .detail-qty {font-size: 16px; color: #ff515b;}
    #orderListTable .detail-total-price { font-size:14px; color:#000;}
    #orderListTable .detail-current-price { font-size:14px; line-height:20px;}
    #orderListTable .detail-delivery-type { font-size:14px;}
    .Detail-Box { overflow-x: auto; height:100%;}
    .Detail-Box-Item { margin-right:30px; padding-right:30px; float:left; display:inline-block;}
    .btnClick { display: inline-block; height: 38px; line-height: 38px; padding: 0 18px; background-color: #fff; color: #555; white-space: nowrap; text-align: center; font-size: 14px; border:  1px solid #C9C9C9; border-radius: 2px; cursor: pointer;}
    .on { background-color: #1E9FFF; color: #fff;}
</style>
<div class="layui-layout layui-layout-admin">
    <div th:replace="common/backend_include::backend_header_nav"></div>
    <div th:replace="common/backend_include::backend_side_menu"></div>

    <div class="layui-body">
        <!-- Content Start -->
        <div class="sh-container">
            <!-- Location Start-->
            <div class="location">
                 <span class="layui-breadcrumb">
                    <a href="#this">首页</a>
                    <a href="#this">订单管理</a>
                    <a><cite>列表页</cite></a>
                </span>
            </div>
            <!-- // Location End-->
            <div class="sh-content">
                <div class="layui-row">
                    <div class="layui-field-box">
                        <div class="layui-form-item">
                            <form class="layui-form" style="display: inline;">
                                <div class="layui-btn-group">
                                    <button type="button" class="btnClick on" id="ORDER_TODAY">今天</button>
                                    <button type="button" class="btnClick" id="ORDER_WEEKEND">近一周</button>
                                    <button type="button" class="btnClick" id="ORDER_MONTH">近一个月</button>
                                </div>
                                <div class="layui-inline" style="margin-bottom: 0">
                                    <label class="layui-form-label">日期</label>
                                    <div class="layui-input-inline" style="width:350px;">
                                        <input type="text" class="layui-input" id="START_DATE" readonly="readonly" value="" placeholder="起始日期" style="display: inline; width:auto;">
                                        ～
                                        <input type="text" class="layui-input" id="END_DATE" readonly="readonly" value="" placeholder="截止日期" style="display: inline; width:auto;">
                                    </div>
                                </div>
                                <div class="layui-inline" style="margin-bottom: 0">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select name="orderStatus" id="STATUS">
                                            <option value="">全部</option>
                                            <option value="10">未付款</option>
                                            <option value="20">已付款</option>
                                            <option value="40">已发货</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-normal" id="btnSearch">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="orderListTable" class="layui-table">
                    <colgroup>
                        <col width="60px" />
                        <col width="100px" />
                        <col width="350px" />
                        <col width="150px" />
                        <col width="100px" />
                        <col width="*" />
                        <col width="200px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>订单号</th>
                            <th>收货人信息</th>
                            <th>支付金额</th>
                            <th>订单状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="pagedemo"></div>
            </div>
        </div>
        <!-- // Content End -->
    </div>

    <div th:replace="common/backend_include::backend_footer"></div>
</div>

<div th:replace="common/backend_include::popup"></div>
<script th:inline="javascript">
var lfn_SearchTable = function(pageNo) {
    var params = {
        START_DATE : $("#START_DATE").val()
        , END_DATE : $("#END_DATE").val()
        , STATUS : $("#STATUS").val()
        , pageSize: 100
    };

    $.ajax({
        url : '/api/order/list'
        , data : params
        , contentType : 'application/x-www-form-urlencoded'
        , method: 'POST'
        , success : function (response) {
            console.log(response);
            if (response.status !== 0) {
                swal(response.msg,'Error', 'error');
            } else {
                $("#orderListTable tbody").html('');
                var sbHTML = new StringBuffer();
                if (typeof response.data.list != 'undefined' && response.data.list.length > 0) {
                    for (var i = 0; i < response.data.list.length; i++) {
                        sbHTML.append("<tr>");
                        sbHTML.append("     <td rowspan='2' class='bbColr'>" + (i + 1) + "</td>");
                        sbHTML.append("     <td>" + response.data.list[i].ORDER_ID + "</td>");
                        sbHTML.append("     <td>" + checkEmpty(response.data.list[i].RECEIVER_NAME,'-') + " | " + checkEmpty(response.data.list[i].RECEIVER_PHONE,'-') + " | " + checkEmpty(response.data.list[i].RECEIVER_ADDRESS,'-') + "</td>");
                        sbHTML.append("     <td>" + checkEmpty(response.data.list[i].PAYMENT,'-') + "</td>");
                        sbHTML.append("     <td>" + checkEmpty(response.data.list[i].STATUS_NAME,'-') + "</td>");
                        sbHTML.append("     <td>" + checkEmpty(response.data.list[i].COMMENT,'-') + "</td>");
                        sbHTML.append("     <td>");
                        sbHTML.append("         <input type='hidden' class='ORDER_ID' value='" + response.data.list[i].ORDER_ID + "' />");
                        sbHTML.append("         <button class='layui-btn layui-btn-sm layui-btn-primary btnOrderDetail'>查看</button>");
                        if (response.data.list[i].STATUS == 20) {
                            sbHTML.append("         <button class='layui-btn layui-btn-sm layui-btn-primary btnAfterPay'><i class='layui-icon layui-icon-edit'></i>确认发货</button>");
                        } else if (response.data.list[i].STATUS == 40) {
                            sbHTML.append("         <button class='layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled btnAfterDelivery'>订单完成</button>");
                        }
                        sbHTML.append("     </td>");
                        sbHTML.append("</tr>");
                        sbHTML.append("<tr class='detail'>");
                        sbHTML.append("     <td colspan='5' class='bbColr'>");
                        sbHTML.append("         <div class='Detail-Box'>");
                        for (var j = 0; typeof response.data.list[i].lstOrderItem != 'undefined' && j < response.data.list[i].lstOrderItem.length; j++) {
                            sbHTML.append("           <div class='Detail-Box-Item'> ");
                            sbHTML.append("                 <div>");
                            sbHTML.append("                     <p class='detail-product-name'>" + response.data.list[i].lstOrderItem[j].PRODUCT_NAME + "</p>");
                            sbHTML.append("                     <p><strong class='detail-weight'>" + checkEmpty(response.data.list[i].lstOrderItem[j].WEIGHT,'-') + "kg</strong> * <strong class='detail-qty'>" + checkEmpty(response.data.list[i].lstOrderItem[j].QTY,'-') + "</strong> = <span class='detail-total-price'>(" + checkEmpty(response.data.list[i].lstOrderItem[j].TOTAL_PRICE,'-') + "元)</span></p>");
                            sbHTML.append("                     <p class='detail-current-price'>单价：" + checkEmpty(response.data.list[i].lstOrderItem[j].CURRENT_UNIT_PRICE,'-') + "&nbsp;&nbsp;&nbsp;&nbsp;物流类型：<strong class='detail-delivery-type'>" + checkEmpty(response.data.list[i].lstOrderItem[j].DELIVERY_TYPE,'-') + "</strong></p>");
                            sbHTML.append("                 </div>");
                            sbHTML.append("            </div> ");
                        }
                        sbHTML.append("         </div>");
                        sbHTML.append("     </td>");
                        sbHTML.append("     <td class='bbColr' style='text-align: center'>");
                        sbHTML.append("         <div>");
                        sbHTML.append("               <p><strong>状态：</strong><span>" + checkEmpty(response.data.list[i].STATUS_NAME) + "</span></p><p><strong>总价：</strong><span>" + checkEmpty(response.data.list[i].PAYMENT,'0') + "元</span></p>");
                        sbHTML.append("         </div>");
                        sbHTML.append("     </td>");
                        sbHTML.append("</tr>");
                    }


                } else {
                    sbHTML.append("<tr>");
                    sbHTML.append("     <td colspan='7' class='bbColr'>暂时没有可处理订单！</td>");
                    sbHTML.append("</tr>");
                }

                $("#orderListTable tbody").html(sbHTML.toString());


                $(".btnAfterPay").each(function(idx, elem){
                    $(elem).unbind('click').click(function (e) {
                        $('#popup01').bPopup({
                            modalClose: false,
                            opacity: 0.6,
                            positionStyle: 'fixed',
                            closeClass: 'btnPopupClose'
                        });

                        var orderNo = $(elem).parent('td').find('.ORDER_ID').val()

                        $("#btnSaveDeliveryNo").unbind('click').click(function(e){
                            var params = {
                                orderNo: orderNo,
                                deliveryNo : $(".popup01 #deliveryNo").val()
                            }

                            $.ajax({
                                // url : '/api/order/update_deliveryno?orderNo=' + data.orderId + '&deliveryNo=' + deliveryNo
                                // , method : 'POST'



                                url : '/api/order/update_deliveryno'
                                , data : params
                                , contentType : 'application/x-www-form-urlencoded'
                                , method: 'POST'
                                , success: function (res) {
                                    console.log(res);
                                    if (res.status == 0) {
                                        $(".popup01 #deliveryNo").val('');
                                        $('#popup01').bPopup().close();
                                        layer.msg("更新成功", function() {
                                            layer.closeAll();
                                            lfn_SearchTable();
                                        });
                                    } else {
                                        layer.msg(res.msg);
                                    }
                                }
                                , error : function (res) {
                                    alert("ERROR");
                                    // console.log(res);
                                }
                            })
                        });


                    });
                });



            }
        }
        , error : function (e,a,r) {
            swal(e+a+r,'','error');
        }
    });
}

$(document).ready(function(){

    $("#btnSearch").unbind('click').click(function () {
        lfn_SearchTable(1);
    });

    $("#ORDER_TODAY").click(function(){
        $("#START_DATE").val(getCurrentDay());
        $("#END_DATE").val(getCurrentDay());
        $("#STATUS").val('');
        lfn_SearchTable(1);
    });

    $("#ORDER_WEEKEND").click(function(){
        $("#START_DATE").val(getDate(-7));
        $("#END_DATE").val(getCurrentDay());
        $("#STATUS").val('');
        lfn_SearchTable(1);
    });

    $("#ORDER_MONTH").click(function(){
        $("#START_DATE").val(getDate(-30));
        $("#END_DATE").val(getCurrentDay());
        $("#STATUS").val('');
        lfn_SearchTable(1);
    });

    $(".btnClick").each(function (idx, elem) {
        $(elem).click(function(){
            $(".btnClick").removeClass('on').eq(idx).addClass('on');
        });
    });

    layui.use('laydate', function () {
        layui.laydate.render({
            elem: '#START_DATE'
            ,value: getCurrentDay()
            ,isInitValue: true
        });
        layui.laydate.render({
            elem: '#END_DATE'
            ,value: getCurrentDay()
            ,isInitValue: true
        });
    });

    layui.form.render();

    layui.use(['element'], function () {
        var element = layui.element;
        element.render();
    });



    lfn_SearchTable(1);

});

function getCurrentDay() {
    var date = new Date();
    var seperator1 = "-";
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var strDate = date.getDate();
    if (month >= 1 && month <= 9) {
        month = "0" + month;
    }
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    var currentdate = year + seperator1 + month + seperator1 + strDate;
    return currentdate;
}


function getDate(num) {
    var date1 = new Date();
    var time1 = date1.getFullYear() + "-" + (date1.getMonth() + 1) + "-" + date1.getDate();
    var date2 = new Date(date1);
    date2.setDate(date1.getDate() + num);
    var time2 = addZero(date2.getFullYear()) + "-" + addZero((date2.getMonth() + 1)) + "-" + addZero(date2.getDate());
    return time2;
}

function addZero(num){
    if(parseInt(num) < 10){
        num = '0' + num;
    }
    return num;
}

</script>

</body>
</html>