<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="common/common_head_meta_backend::head_meta_backend"></div>
<title>Product Edit</title>
<body class="layui-layout-body">


<div class="layui-layout layui-layout-admin">
    <div th:replace="common/backend_include::backend_header_nav"></div>
    <div th:replace="common/backend_include::backend_side_menu"></div>

    <div class="layui-body">
        <!-- Content Start -->
        <div class="sh-container">
            <!-- Location Start-->
            <div class="location">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a href="">商品管理</a>
                    <a href="">详细页</a>
                    <a><cite>新产品</cite></a>
                </span>
            </div>
            <!-- // Location End-->
            <div class="sh-content">
                <div class="layui-row mb20" style="text-align: left">
                    <a class="layui-btn-normal layui-btn layui-btn-radius" th:href="@{/manager/product/list}"><i class="layui-icon layui-icon-cols"></i>  产品列表</a>
                </div>
                <form class="layui-form" id="productEditForm">
                    <input type="hidden" value="" id="productId" />
                    <input type="hidden" value="1" id="categoryId" />
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">产品名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" value="" id="name" class="layui-input" placeholder="请输入产品名" autocomplete="off" required  lay-verify="required" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">副标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" id="subtitle" value="" class="layui-input" placeholder="请输入产品名" autocomplete="off" required  lay-verify="required" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">库存</label>
                                <div class="layui-input-block">
                                    <input type="number" name="stock" id="stock" value="" class="layui-input" placeholder="单位：Kg， 只输入数字" autocomplete="off" required  lay-verify="required" >
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-block">
<!--                                    <input type="checkbox" checked="checked" name="status" id="status" lay-skin="switch" lay-filter="productStatus" lay-text="上架|下架">-->
                                    <select name="status" id="status">
                                        <option value="1">上架</option>
                                        <option value="0">下架</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-form-item">
                            <label class="layui-form-label">参数及价格
                                <br/>
                                <span class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius" id="btnAddNewSpec"><i class="layui-icon layui-icon-add-circle"></i> 新增规格</span>
                            </label>
                            <div class="layui-input-block">
                                <table class="layui-table specTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">重量(单位：1Kg)</th>
                                            <th scope="col">价格(单位：元)</th>
                                            <th scope="col">VIP价格(单位：元)</th>
                                            <th scope="col">发货方式</th>
                                            <th scope="col" style="text-align: center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md4">
                            <label class="layui-form-label">首页缩略图</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" id="mainUploadImage">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <div class="layui-hide iamgeViewDiv" id="mainUploadImageView" style="width:150px;">
                                    <input type="hidden" id="mainImage" value="" />
                                    <hr />
                                    <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md8 mb20">
                            <div class="row">
                                <label class="layui-form-label">详细页图片</label>
                                <div class="layui-input-block">
                                    <div class="row">
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" id="subUploadImage">
                                                <i class="layui-icon">&#xe67c;</i>缩略图1
                                            </button>
                                            <div class="layui-hide iamgeViewDiv" id="subUploadImageView" style="width:150px;">
                                                <input type="hidden" id="subImage" value="" />
                                                <hr />
                                                <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" id="subUploadImage2">
                                                <i class="layui-icon">&#xe67c;</i>缩略图2
                                            </button>
                                            <div class="layui-hide iamgeViewDiv" id="subUploadImageView2" style="width:150px;">
                                                <input type="hidden" id="subImage2" value="" />
                                                <hr />
                                                <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" id="subUploadImage3">
                                                <i class="layui-icon">&#xe67c;</i>缩略图3
                                            </button>
                                            <div class="layui-hide iamgeViewDiv" id="subUploadImageView3" style="width:150px;">
                                                <input type="hidden" id="subImage3" value="" />
                                                <hr />
                                                <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-form-item">
                            <label class="layui-form-label">详细说明</label>
                            <div class="layui-input-block">
                                <div id="detailValue" style="width:100%;"></div>
                                <input type="hidden" id="detail" value="" />
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">国家</label>
                                <div class="layui-input-block">
                                    <input type="text" name="param1" id="country" value="" class="layui-input" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">城市</label>
                                <div class="layui-input-block">
                                    <input type="text" name="variety" id="city" value="" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">机器规格</label>
                                <div class="layui-input-block">
                                    <input type="text" name="param1" id="param1" value="" class="layui-input" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">品种</label>
                                <div class="layui-input-block">
                                    <input type="text" name="variety" id="variety" value="" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">处理法</label>
                                <div class="layui-input-block">
                                    <input type="text" name="treatment" id="treatment" value="" class="layui-input" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-form-item">
                                <label class="layui-form-label">杯测风味</label>
                                <div class="layui-input-block">
                                    <input type="text" name="flavor" id="flavor" value="" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>



                    <input type="hidden" value="" id="param2" />
                    <input type="hidden" value="" id="param3" />
                    <input type="hidden" value="" id="param4" />
                    <input type="hidden" value="" id="param5" />

                </form>

                <div style="text-align: center;"><a class="text-center layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" id="btnEditProduct"><i class="layui-icon layui-icon-upload-drag"></i> 保存</a></div>


            </div>
        </div>
        <!-- // Content End -->
    </div>

    <div th:replace="common/backend_include::backend_footer"></div>
</div>
<script th:src="@{/js/wangEditor.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">

    layui.use(['element'], function () {
        var element = layui.element;
        element.render();
    });

    // 초기 오브젝트 생성
    var MAIN_IMAGE = $("#mainImage").val()
        , SUB_IMAGE = $("#subImage").val()
        , SUB_IMAGE2 = $("#subImage2").val()
        , SUB_IMAGE3 = $("#subImage3").val();

    layui.use(['layer', 'form', 'element'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,element = layui.element;
        form.render();
        element.render();

        form.on('switch(productStatus)', function (data) {
            var checked = data.elem.checked === true ? "1" : "0";
            $("#status").val(checked);
        });

        // Main Image Upload Start
        //上传
        layui.upload.render({
            elem: '#mainUploadImage'
            ,url: '/api/file/single/upload' //改成您自己的上传接口
            ,done: function(res){
                layer.msg('上传成功');
                layui.$('#mainUploadImageView').removeClass('layui-hide').find('img').attr('src', res.data);
                MAIN_IMAGE = res.data;
                console.log(res)
            }
        });
        // Main Image Upload End

        // Sub Image Upload Start
        //上传
        layui.upload.render({
            elem: '#subUploadImage'
            ,url: '/api/file/single/upload' //改成您自己的上传接口
            ,done: function(res){
                layer.msg('上传成功');
                layui.$('#subUploadImageView').removeClass('layui-hide').find('img').attr('src', res.data);
                SUB_IMAGE = res.data;
                console.log(res)
            }
        });
        // Sub Image Upload End

        // Sub Image2 Upload Start
        //上传
        layui.upload.render({
            elem: '#subUploadImage2'
            ,url: '/api/file/single/upload' //改成您自己的上传接口
            ,done: function(res){
                layer.msg('上传成功');
                layui.$('#subUploadImageView2').removeClass('layui-hide').find('img').attr('src', res.data);
                SUB_IMAGE2 = res.data;
                console.log(res)
            }
        });
        // Sub Image2 Upload End

        // Sub Image3 Upload Start
        //上传
        layui.upload.render({
            elem: '#subUploadImage3'
            ,url: '/api/file/single/upload' //改成您自己的上传接口
            ,done: function(res){
                layer.msg('上传成功');
                layui.$('#subUploadImageView3').removeClass('layui-hide').find('img').attr('src', res.data);
                SUB_IMAGE3 = res.data;
                console.log(res)
            }
        });
        // Sub Image3 Upload End


    });


$(function () {
    // For Detail Start
    var E = window.wangEditor;
    var editor = new E(document.getElementById('detailValue'));
    editor.customConfig.uploadImgServer = '/api/file/single/upload/url';
    editor.customConfig.uploadFileName = 'file';
    // editor.customConfig.uploadImgShowBase64 = true;
    editor.customConfig.uploadImgHooks = {
        fail: function (xhr, editor, result) {
            swal ( "哎哟" ,  "好像出了问题!" ,  "error" );
        },
        error: function (xhr, editor) {
            swal ( "哎哟" ,  "好像出了问题!" ,  "error" );
        },
        timeout: function (xhr, editor) {
            swal ( "哎哟" ,  "超时啦!刷新重新弄！" ,  "error" )
        },
        customerInsert : function(insertImg, result, editor){
            for (var i = 0; i < result.data.length; i++) {
                insertImg(result.data[i]);
            }
        }
    };

    editor.create();

    $("#btnEditProduct").unbind('click').click(function(){
        var productObj = getProductFromValue();
        productObj.detail = editor.txt.html();
        productObj.mainImage = MAIN_IMAGE;
        productObj.subImage = SUB_IMAGE;
        productObj.subImage2 = SUB_IMAGE2;
        productObj.subImage3 = SUB_IMAGE3;
        productObj.spec = localStorage.tableSpecList;
        console.log(productObj);
        var product = new Product();
        product.save(productObj);
    });

    ProductEdit = {
        init : function (param) {
            this.initMainImage($("#mainImage").val());
            this.initSubImage($("#subImage").val());
            this.initSubImage2($("#subImage2").val());
            this.initSubImage3($("#subImage3").val());
        }
        ,initMainImage : function (mainImageUrl) {
            if (mainImageUrl) {
                layui.$('#mainUploadImageView').removeClass('layui-hide').find('img').attr('src', mainImageUrl);
            }
        }
        ,initSubImage : function (subImageUrl) {
            if (subImageUrl) {
                layui.$('#subUploadImageView').removeClass('layui-hide').find('img').attr('src', subImageUrl);
            }
        }
        ,initSubImage2 : function (subImageUrl) {
            if (subImageUrl) {
                layui.$('#subUploadImageView2').removeClass('layui-hide').find('img').attr('src', subImageUrl);
            }
        }
        ,initSubImage3 : function (subImageUrl) {
            if (subImageUrl) {
                layui.$('#subUploadImageView3').removeClass('layui-hide').find('img').attr('src', subImageUrl);
            }
        }

        ,save : function (obj) {

        }
    }


    ProductEdit.init();

    //SPEC Start
    var specArray = [];

    function getSpecData() {
        if (localStorage.tableSpecList == undefined) {
            specArray = [];
        } else {
            specArray = JSON.parse(localStorage.tableSpecList)
        }
        return specArray;
    }
    initSpecList();

    function saveData(data) {
        localStorage.tableSpecList = JSON.stringify(data);
    }

    function initSpecList() {
        // $(".specTable tr:not(tr:first, tr:last)").remove();
        $(".specTable tbody tr").remove();
        const data = getSpecData();
        var sbHtml = '';
        $.each(data, function (i, item) {
            sbHtml = "<tr row-index='" + i + "'>";
            sbHtml += "<td data-role='weight'><input type='number' class='layui-input specInput' value='" + item.weight + "' /></td>";
            sbHtml += "<td data-role='price'><input type='number' class=' layui-input specInput' value='" + item.price + "' /></td>";
            sbHtml += "<td data-role='vipPrice'><input type='number' class='layui-input specInput' value='" + item.vipPrice + "' /></td>";
            sbHtml += "<td data-role='deliveryType'><input type='text' class='layui-input specInput' value='" + item.deliveryType + "' /></td>";
            // sbHtml += "<td data-role='status'><input type='text' class='specInput form-control' value='" + item.status + "' /></td>";
            sbHtml += "<td style='text-align: center'><i class='layui-icon layui-icon-delete btnSpecDelete' style='color:#C22930; font-size:22px; cursor: pointer'></i></td>";
            sbHtml += "</tr>";
            $(".specTable tbody").append(sbHtml);
        });

        saveData(data)
    }


    $("#btnAddNewSpec").unbind('click').click(function(){
        const data = getSpecData();
        data.push({
            weight : "",
            price : "",
            vipPrice : "",
            stock : "",
            deliveryType : "",
            status : ""
        });
        saveData(data);
        initSpecList();
    });

    $(".specTable tbody").on('blur', '.specInput', function () {
        const data = getSpecData();
        const index = $(this).parent().parent().attr('row-index');
        const value = $(this).val();
        const attr = $(this).parent().attr('data-role');
        data[index][attr] = value;
        saveData(data);
    })

    $(".specTable tbody").on('click', '.btnSpecDelete', function () {
        const data = getSpecData();
        const index = $(this).parent().parent().attr("row-index");
        data.splice(index, 1);
        saveData(data);
        initSpecList();
    });

    //SPEC End




})

</script>

</body>
</html>