<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="common/common_file::head_tag_html"></div>
<body>

<!-- Nav Statrt -->
<div th:replace="common/nav_header::nav_header"></div>
<!-- // Nav End -->

<!-- Content Start -->
<div class="container ahn-container">
    <div class="con">
        <!-- Contents Real Start -->
        <h3>Customer List</h3>
        <div id="toolbar">
            <a role="button" href="#" th:href="@{/page/user/create}" class="btn btn-primary">+ New</a>
        </div>
        <!-- User List Table Start -->
        <table class="table ahn-table"
               id="userListTable"
               data-toggle="userListTable"
               data-show-columns="false"
               data-search="false"
               data-sort-order="asc"
        >
        </table>
        <!-- //User List Table End -->
        <!-- // Contents Real End -->

    </div>
</div>
<!-- // Content Start -->
</body>
<script type="text/javascript" th:inline="javascript">
    const tableColumns = [

        { field : 'username', title : '用户名', align: 'center'},
        { field : 'company', title : '公司名', align: 'center' },
        { field : 'companyType', title : '公司类型', align: 'center' } ,
        { field : 'deviceSerial', title : '设备序列号', align: 'left' },
        { field : 'deviceModel', title : '设备型号', align: 'left' },
        { field : 'deviceColor', title : '设备颜色', align: 'center' },
        {
            title : '操作',
            formatter: function (value, row, index) {
                return [
                    '<a class="btn btn-success btnEdit" type="button" href="/page/user/edit/' + row.id + '">编辑</a>&nbsp;&nbsp;'
                    // '<a class="btn btn-info btnSpec" type="button" href="#this" th:href="@{/page/user/create}">规格</a>',
                ].join("");
            }
        }
    ];

    $(function () {
        const refreshUserList = () => {
            var oTable = new TableInit("#userListTable", '/api/user/list', tableColumns);
            oTable.Init();
        };

        refreshUserList();
    });
</script>
</html>