<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="common/common_file::head_tag_html"></div>
<body>

<!-- Nav Statrt -->
<div th:replace="common/nav_header::nav_header"></div>
<!-- // Nav End -->

<!-- Content Start -->
<div class="container ahn-container">
    <div class="con">
        <!-- Contents Real Start -->
        <h3>User Create</h3>
        <div class="right-button mb-3 clearfix">
            <a role="button" href="#" th:href="@{/page/user/list}" class="btn btn-primary">商品列表</a>
        </div>
<!--        <form class="needs-validation" novalidate="">-->
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="username">账号</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="passwordCheck">密码确认</label>
                            <input type="password" class="form-control" id="passwordCheck">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="email">E-Mail地址</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="company">公司名称</label>
                            <input type="text" class="form-control" id="company">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="companyType">公司类型</label>
                            <input type="text" class="form-control" id="companyType">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="province">省份</label>
                            <input type="text" class="form-control" id="province">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">城市</label>
                            <input type="text" class="form-control" id="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="address">详细地址</label>
                            <input type="text" class="form-control" id="address">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="deviceSerial">设备序列号</label>
                            <input type="text" class="form-control" id="deviceSerial">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="deviceModel">设备型号</label>
                            <input type="text" class="form-control" id="deviceModel">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="deviceColor">设备颜色</label>
                            <input type="text" class="form-control" id="deviceColor">
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" id="btnCreateUser">保存</button>
<!--        </form>-->
        <!-- // Contents Real End -->

    </div>
</div>
<!-- // Content Start -->

</body>

<script type="text/javascript">
    $(function () {

        $("#btnCreateUser").unbind('click').click(function(){
            UserInfo.create();
        });




    });
</script>

</html>