<div class="container-fluid stronghold-navbar" th:fragment="portal_nav_header" style="">
    <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand" href="#">Strong Hold</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">会员管理</a>
                <a class="nav-item nav-link" href="#">商品管理</a>
                <a class="nav-item nav-link" href="#">规格管理</a>
                <a class="nav-item nav-link" href="#">订单管理</a>
            </div>
        </div>
    </nav>
</div>