<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahnstudio.management.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.ahnstudio.management.pojo.Order">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_ID" jdbcType="BIGINT" property="orderId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="SHIPPING_ID" jdbcType="INTEGER" property="shippingId" />
    <result column="PAYMENT" jdbcType="DECIMAL" property="payment" />
    <result column="PAYMENT_TYPE" jdbcType="INTEGER" property="paymentType" />
    <result column="POSTAGE" jdbcType="INTEGER" property="postage" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="PAYMENT_TIME" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="CLOSE_TIME" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="PARAM1" jdbcType="VARCHAR" property="param1" />
    <result column="PARAM2" jdbcType="VARCHAR" property="param2" />
    <result column="PARAM3" jdbcType="VARCHAR" property="param3" />
    <result column="PARAM4" jdbcType="VARCHAR" property="param4" />
    <result column="PARAM5" jdbcType="VARCHAR" property="param5" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_ID, USER_ID, SHIPPING_ID, PAYMENT, PAYMENT_TYPE, POSTAGE, STATUS, PAYMENT_TIME, 
    SEND_TIME, END_TIME, CLOSE_TIME, PARAM1, PARAM2, PARAM3, PARAM4, PARAM5, CREATETIME, 
    UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ahnstudio.management.pojo.Order">
    insert into tb_order (ID, ORDER_ID, USER_ID, 
      SHIPPING_ID, PAYMENT, PAYMENT_TYPE, 
      POSTAGE, STATUS, PAYMENT_TIME, 
      SEND_TIME, END_TIME, CLOSE_TIME, 
      PARAM1, PARAM2, PARAM3, 
      PARAM4, PARAM5, CREATETIME, 
      UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, 
      #{shippingId,jdbcType=INTEGER}, #{payment,jdbcType=DECIMAL}, #{paymentType,jdbcType=INTEGER}, 
      #{postage,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, 
      #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.ahnstudio.management.pojo.Order">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="shippingId != null">
        SHIPPING_ID,
      </if>
      <if test="payment != null">
        PAYMENT,
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE,
      </if>
      <if test="postage != null">
        POSTAGE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME,
      </if>
      <if test="sendTime != null">
        SEND_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="closeTime != null">
        CLOSE_TIME,
      </if>
      <if test="param1 != null">
        PARAM1,
      </if>
      <if test="param2 != null">
        PARAM2,
      </if>
      <if test="param3 != null">
        PARAM3,
      </if>
      <if test="param4 != null">
        PARAM4,
      </if>
      <if test="param5 != null">
        PARAM5,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="shippingId != null">
        #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postage != null">
        #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahnstudio.management.pojo.Order">
    update tb_order
    <set>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shippingId != null">
        SHIPPING_ID = #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        PAYMENT = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postage != null">
        POSTAGE = #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null">
        SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="param1 != null">
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahnstudio.management.pojo.Order">
    update tb_order
    set ORDER_ID = #{orderId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=INTEGER},
      SHIPPING_ID = #{shippingId,jdbcType=INTEGER},
      PAYMENT = #{payment,jdbcType=DECIMAL},
      PAYMENT_TYPE = #{paymentType,jdbcType=INTEGER},
      POSTAGE = #{postage,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = now()
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>